<link rel="stylesheet" href="<%=assetPath('css/user_profile.css')%>" />
<img src="<%=profile_user.avatar%>" alt="<%= profile_user.name %>" width="100" />

<div class="image-preview" id="imagePreview">
  <img src="" alt="Image Preview" class="image-preview__image"/>
  <span class="image-preview__default-text">Image Preview</span>
</div>

<% if (user.id== profile_user.id){ %>
<!-- if matches then show the form -->
<form
  action="/users/update/<%= profile_user.id %>"
  enctype="multipart/form-data"
  method="post"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update" />
</form>
<% } else { %>
<!-- show only profile info -->
<p><%= profile_user.name%></p>
<p><%= profile_user.email%></p>
<h4>
  <a href="/?fromId=<%= user.id %>&toId=<%= profile_user.id %>">Add as a friend</a>
  <br>
  <%= user.name %> <%= user.id %> 
  <br /> 
  <%= profile_user.name %> <%= profile_user.id %>   
</h4>
<% } %>

<!-- <script src="/js/user_profile.js"></script> -->

